body{
  background-color: black;
  margin: 0;
  font-size: 30px;
  text-align: center;
  font-family: ubuntu;
  color: #333;
  font-weight: 100;
  padding: 100px;
}

.main .name{
  padding-bottom: 20px;
  font-weight: bold;
  animation: blink;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-delay: 2s;
}
@keyframes light{
  from{opacity: 0.2;}
  to{opacity:1;}
}
@keyframes blink{
    0%{     color: #333;    }
    49%{    color: #333; }
    60%{    color: black; }
    99%{    color:black;  }
    100%{   color: #faf6c5;    }
}

.main .work{
  padding-bottom: 50px;
  font-size: 50px;
}
.main .links .block{
  position: relative;
  background: #333;
  display: inline-flex;
  justify-content: center;
  align-content:center;
  align-items:center;
  z-index: 1;
  width:40px;
  height: 40px;
  transition:0.4s;
  padding: 4px;
  margin-left: 20px;
  margin-right: 20px;
}
.main .links .block:hover{
  box-shadow:
    inset 0 0 60px whitesmoke,
    inset 20px 0 80px #faf6c5,
    inset -20px 0 80px #faf6c5,
    inset 20px 0 300px #faf6c5,
    inset -20px 0 300px #faf6c5,
    0 0 50px #faf6c5,
    -10px 0 80px #faf6c5,
    10px 0 80px #faf6c5;
}
.main .links .block .content{
  animation-name: light;
  animation-duration: infinite;
  animation-fill-mode: both;
  animation-delay: 2s;
  transition:  0.5s;
  text-align: center;
}
.main .links .block:hover .content i{
  color: black;
}
.main .links .block .content i{
  color: #faf6c5;
  height: auto;
  width: auto;
}
